
<div class="center">

    <h2>Squads</h2>
    <p>Start by creating a squad first. Then add heroes to it, make it interesting!</p>
    <br>
    <p>Just click the button below</p>
    <button class="btn btn-dark"><a href="/squads/new">Create Squad</a></button>
    <br>


    <br>
</div>