<div class="jumbotron">
    <h1>Success!</h1>
    <p>Your Hero has been added to $squad.getmSquadName() squad.</p>

    <button class="btn btn-dark"><a href="/squads/$squad.getmId()">View Heroes</a></button>
</div>