<div class="center">
    <h2>$squad.getmSquadName()</h2>
    <p>Max: $squad.getmSize()</p>
    <p>Cause: $squad.getmCause()</p>

        <table class="table table-striped table-dark">
         <thead class="thead-light">
           <tr>
               <th scope="col">Name</th>
               <th scope="col">Age</th>
               <th scope="col">Power</th>
               <th scope="col">Weakness</th>
           </tr>
         </thead>
          #foreach($hero in $squad.getmHeroes())

           <tbody>
           <tr>
               <td>$hero.getmJina()</td>
               <td>$hero.getmMiaka()</td>
               <td>$hero.getmStrength()</td>
               <td>$hero.getmWeakness()</td>
             </tr>
           </tbody>
         #end
         </table>
        <div class = "space"></div>

    <button class="btn btn-info"><a href="/squads/$squad.getmId()/hero-form">Add a Hero</a></button>

    <button class="btn btn-dark"><a href="/squads">View Squads</a></button>
</div>