{{#partial "content"}}
    <link rel="stylesheet" href="/css/style.css">

<div class="success">
<br>
    <br>
    <br>
    <p>Your Hero has been added.</p>
    <p>Click the button below to view your list</p>
    <br>



  <div class="buttons">

    <a href="/hero-detail"><button type="submit" class="btn btn-info" style="text-align: center;">View  Hero</button> </a>

    <a href="/squad-detail"><button type="submit" class="btn btn-info" style="text-align: center;">View Squad</button> </a></div>

</div>
    </div>

{{/partial}}

{{> layout.hbs}}

