{{#partial "content"}}
    <link rel="stylesheet" href="/css/style.css">
    <div class="about">
        <div class="center">
        <p>Create a squad and add heroes to it. Make it interesting!</p>
        <br>
        <br>
    <a href="/hero-form"><button type="submit" class="btn btn-info" style="text-align: center;">Add Hero</button> </a>

    <a href="/squad-form"><button type="submit" class="btn btn-info" style="text-align: center;">Add Squad</button> </a></div>


    </div>
    </div>
{{/partial}}

{{> layout.hbs}}